{% extends 'base.html.twig' %}

{% block body %}
    {% for type, flash_messages in app.session.flashBag.all %}
        {% for flash_message in flash_messages %}
            <div class="flash-{{ type }}">
                {{ flash_message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div id="wrapper">
        <div id="container">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    <div>Incoming URL: {{ incoming_url }}</div>
{% endblock %}

{% block stylesheets %}
<style>
    #wrapper { background: #FFF; margin: 0 auto 0; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #form_text { width: 100%; height: 24em; }
    #form_recipients { float: left; margin-top: -1.5em; }
    #form_previewHtml { float: left; }
    #form_previewPdf { float: left; }
    #form_sendFax { float: right; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
    }
</style>
{% endblock %}
